#footer{
    border-top: 1px solid rgb(139, 98, 81);
    background-color: #f5f2ef;
}
#container-footer{
    height: 400px;
    padding-top: 35px;
    padding-bottom: 30px;
    margin: 0 1%;
}
.footer-left, .footer-center, .footer-right{
    display: inline-block;
    text-align: center;
}
.footer-content{
    height: 100%;
    margin: 0 10px;
    position: relative;
    color:rgb(62,7,7);
}
.footer-left{
    width: 15%;
    height: 180px;
    margin-right: 10px;
    margin-left: 20px;
}
.footer-center{
    width: 70%;
    height: 60%;
    margin: 0 10px;
    position: absolute;
    top: 0%;
    text-align: center;
}
.footer-right{
    display: none;
    width: 10%;
    height: 60%;
}
.footer-menu{
    display: block;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 90%;
}
#footer .footer-left-header h6{
    font-size: 22px;
    padding-bottom: 22px;
    letter-spacing: 3px;
}
#footer .footer-left-list{
    list-style-type: none;
}
#footer .footer-left-list li{
    padding-bottom: 15px;
}
#footer .footer-left-list a{
    text-decoration: none;
    color: rgb(62,7,7);
}
#footer .footer-center-header h6{
    letter-spacing: 3px;
    font-size: 22px;
    padding-bottom: 22px;
}
#footer .footer-slogan{
    font-size: 16px;
    margin-bottom: 10px;
}
#footer .form-contact{
    margin-bottom: 10px;
    padding-bottom: 20px;
}
#footer .footer-form-header{
    padding: 10px 0;
}
#footer .input-email{
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 60%;
}
#footer .submit-button{
    width: 12%;
    padding: 6px 0;
    font-size: 13px;
    color: white;
    background-color: rgb(82,22,12);
    border-radius: 5%;
}
#footer .footer-icon{
    font-size: 25px;
    text-decoration: none;
    color: rgb(139, 98, 81);
    border: 2px solid rgb(139, 98, 81);
    border-radius: 50%;
    padding: 10px;
    margin-left: 6px;;
    margin-right: 6px;
}
#footer .footer-menu{
    /* display: none; */
}
#footer .footer-menu hr{
    border-top: 1px solid rgb(139, 98, 81);
}
#footer .footer-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}
#footer .footer-menu-list ul{
    list-style-type: none;
}

#footer .footer-menu-list li{
    display: inline-table;
    padding: 20px;
    text-align: center;
}
#footer .footer-menu-list a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(139, 98, 81);
    line-height: 30px;
}
