.modal.open
{
    display: flex;
}
.warning-alert{
    display: inline-block;
    color: red;
    font-size: 16px;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-height: 100%;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 10.5px;
    cursor: pointer;
}

.modal-close:hover
{
    background-color: red;
}

.modal-container .modal-header {
    height: 45px;
    background: green;
    text-align: center;
    line-height: 45px;
}

.modal-body
{
    height: 60%;
    padding: 16px;
}

.modal-body .container {
    display: flex;

}

.modal-body .modal-label {
    width: 20%;
    padding: 12px;
}

.modal-body .modal-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-weight: bold !important;
    position: relative;
}

.modal-body input[type="checkbox"],
.modal-body input[type="radio"]
{
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.modal-body input[type="date"]
{
    cursor: pointer;
}

.modal-footer {
    display: flex;
}

.modal-footer .modal-btn 
{
    width: 50%;
    padding: 16px;
    cursor: pointer;
    padding-bottom: 16px;
    border-style: solid;
}
.modal-login{
    max-height: 100%;
}
.modal-login-header {
    height: 45px;
    background: green;
    text-align: center;
    line-height: 45px;
    width: 100%;
}

.nextSign {
    text-align: right;
    padding-bottom: 20px;
    margin-right: 27px;
    font-size: 16px;
}

.nextSign span {
    color: blue;
    cursor: pointer; 
}


.modal-turn-back {
    position: absolute;
    padding-right: 12px;
    cursor: pointer;
}


.modal-turn-back i {
    border-radius: 50%;
    margin-left: 12px;
    font-size: 22px;
    line-height: 45px;
}

.modal-turn-back:hover {
    background: antiquewhite;
}

#modal-submit-login {
    width: 70%;
    color: white;
    background: rgb(82,22,12);
    padding: 16px;
    margin-left: 17%;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    opacity: 1;
    margin-bottom: 4px;
}

#modal-submit-login:hover
{
    opacity: .9;
}
.modal-password{
    position: relative;
   
}
.icon-password{
    right: 21px;
    line-height: 100%;
    padding: 12px;
    font-size: 22px;
    position: absolute;
    cursor: pointer;
}

.modal-login
{
    max-width: 100%;
}
