* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

#container-header{ 
    /* width: 100%;
    position:fixed; */
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgb(245,242,239);
    align-items: center;
}
#search{
   width: 23%;
   display: flex;
   position: relative;
   
}
.ti-search{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 10%;
}
#search input{
   height: 28px;
   width: 90%;
   padding-left: 28px;
   padding-right: 9px;
   border: 1px solid rgb(223,223,223);
   font-size:13px;
}
#contact-list{
    display: flex;
    width: 77%;
    float:right;
    justify-content: right;
}
#container-header ul li{
    display: inline-block;
    padding: 12px;
    opacity: 0.7;
    cursor: pointer;
}
#container-header ul li:hover{
    background-color: #ccc;
}
#contact-list li{
    display: inline-block;
    padding:0 10px;
    color: rgb(62,7,7);
    text-decoration: none;
    line-height: 30px;
    font-weight: 400;
}