:root {
    --primary-color: #EA7C69;
    --white-color: white;
    --sidebar-color: #1f1d2b;
    --border-color: #393c49;
    --outstand-color: orangered;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    background-color: #252836;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

ul, li, h1, h2, h3, h4, h5, h6 {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* Trượt lên trên header */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    font-weight: 900;
    display: none;
}

.scroll-to-top__icon {
    font-weight: 900;
}

#scroll-to-top::after {
    content: "";
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color ease-in 0.2s;
}

/* MODAL */
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

.overlay.open {
    display: flex;
}

.modal {
    background-color: white;
    position: relative;
    animation: modalFadeIn linear 0.4s;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}