* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #3e0707;
}

hr {
  border-top: 1px solid rgb(139, 98, 81);
}
#blog {
  width: 1000px;
  margin: 100px auto;
}
.container-blog {
  display: grid;
  grid-template-columns: 700px 300px;
  gap: 24px;
}
.title-blog {
  grid-column: 1/-1;
}
.left-side {
  grid-column: 1/-2;
}
.title-blog .title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}
.link {
  font-size: 14px;
  font-style: italic;
}
.link a {
  text-decoration: none;
  color: #3e0707;
}
.content-chocolate .title {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 2;
}
.content-chocolate .sub-title {
  font-size: 14px;
  color: #495057;
  line-height: 3;
}
.content-chocolate .text {
  font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.img {
  display: flex;
  justify-content: center;
}
.icon .text {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.icon {
  display: flex;
  gap: 15px;
  line-height: 3;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  font-size: 14px;
  padding: 9px;
  border: solid 1px #3e0707;
  border-radius: 50%;
}
.recent-articles .title {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 2;
  text-transform: uppercase;
}
.text-form {
  margin: 20px 0;
}
.recent-articles .text {
  font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.recent-articles .sub-text {
  font-size: 14px;
  color: #495057;
}
.categories .title {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 2;
  text-transform: uppercase;
}
.categories .line-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.categories .num {
  font-size: 14px;
  color: #495057;
}
.change-page {
  grid-column: 1/-1;
  text-align: center;
}
.change-page a {
  text-decoration: none;
  margin: 0 12px;
}
.img .img3,
.img .img4,
.img .img5,
.img .img6,
.img .img7,
.img .img8,
.img .img9,
.img .img10,
.img .img11,
.img .img12,
.img .img13,
.img .img14 {
  width: 700px;
  height: 50%;
}
