* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

hr {
  border-top: 1px solid rgb(139, 98, 81);
}

.blog-title {
  font-size: 25px;
  margin: 10px 0;
  letter-spacing: 3px;
  text-align: center;
}

#content {
  color: rgb(62, 7, 7);
  margin-top: 30px;
}

#container-content {
  width: 800px;
  margin: 100px auto;
}

#content .link {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}

#content .link > div {
  float: left;
}

#content .link a {
  color: rgb(62, 7, 7);
  text-decoration: none;
}

.ti-angle-right {
  margin-left: 3px;
  font-size: 8px;
}

.full-box {
  display: grid;
  grid-template-columns: 65% auto;
  gap: 42px;
}

#content .content-blog {
}

.content-blog .blog-status .author {
  margin: 10px 0;
}

.content-blog .page-list a {
  text-decoration: none;
  color: rgb(62, 7, 7);
}

.content-blog .page-list #page {
  display: inline-block;
  float: right;
  padding: 6px;
}

.ti-angle-double-right {
  font-size: 8px;
  margin-left: 3px;
}

#content .content-menu {
}

.content-menu .follow-subcribe {
  margin-bottom: 12px;
}

.content-menu .follow-subcribe a {
  color: rgb(62, 7, 7);
  font-size: 18px;
  text-decoration: none;
  height: 34px;
}

.content-menu .subcribe,
.content-menu .follow {
  width: 49%;
  display: inline-block;
  text-align: center;
  justify-content: space-between;
}

.content-menu .subcribe div,
.content-menu .follow div {
  display: inline-block;
  margin-left: 12px;
  line-height: 34px;
}

.content-menu .subcribe span,
.content-menu .follow span {
  display: inline-block;
}

.content-menu .ti-rss-alt,
.content-menu .ti-twitter-alt {
  font-size: 20px;
  padding: 6px;
  border: solid 1px rgb(139, 98, 81);
  border-radius: 50%;
}

#search-blog {
  position: relative;
  width: 100%;
  margin-top: 12px;
}

#search-blog input {
  height: 28px;
  width: 100%;
  padding-left: 28px;
  padding-right: 9px;
  border: 1px solid rgb(223, 223, 223);
  font-size: 13px;
}
