* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#logo{
    padding: 30px;
    display: flex;
    justify-content: center;
}
#header-img{
    height: 61px;
    width: 500px;   
}
#menu-list{
    display: flex;
    justify-content: center;
}
#menu-list > li{
    display: inline-block;
    padding: 0px 30px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
    position: relative;
}
#menu-list li a{
    color: rgb(62,7,7);
    text-decoration: none;
    text-transform: uppercase;
}
#menu-list li:hover{
    color:#b32366;
}
.ti-angle-down{
    font-size: 16px;
}
#menu-list .sub-menu{
    display: none;
    width: 240px;
    padding: 0 20px;
    position: absolute;
    top: 100%;
    left: 10%;
    font-size: 13px;
    line-height: 35px;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#menu-list li:hover .sub-menu{
    display: block;
    color: rgb(62,7,7);
    background-color: white;
}

hr {
    border-top: 1px solid rgb(139, 98, 81);
}

.blog-title {
    font-size: 20px;
    margin: 10px 0;
}

#content {
    color:rgb(62,7,7);
    margin-top: 30px;
}

#container-content {
    margin: 0 1%;
}

#content .title {
    letter-spacing: 3px;
    text-align: center;
}

#content .title p{
    font-size: 25px;
}

#content .link {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}

#content .link>div {
    float: left;
}

#content .link a {
    color: rgb(62,7,7);
    text-decoration: none;
}

.ti-angle-right {
    margin-left: 3px;
    font-size: 8px;
}

#content .content-blog {
    display: inline-block;
    width: 50%;
    margin-right: 15%;
    margin-bottom: 36px;
}

.content-blog .blog-status .author{
    margin: 10px 0;
}

.content-blog .page-list a {
    text-decoration: none;
    color: rgb(62,7,7);
}

.content-blog .page-list #page{
    display: inline-block;
    float: right;
    padding: 6px;
}

.ti-angle-double-right {
    font-size: 8px;
    margin-left: 3px;
}

#content .content-menu {
    display: inline-block;
    width: 30%;
}

.content-menu .follow-subcribe {
    margin-bottom: 12px;
}

.content-menu .follow-subcribe a {
    color: rgb(62,7,7);
    font-size: 18px;
    text-decoration: none;
    height 34px;
}

.content-menu .subcribe, .content-menu .follow {
    width: 49%;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
}

.content-menu .subcribe div, .content-menu .follow div {
    display: inline-block;
    margin-left: 12px;
    line-height: 34px;
}

.content-menu .subcribe span, .content-menu .follow span {
    display: inline-block;
}

.content-menu .ti-rss-alt, .content-menu .ti-twitter-alt {
    font-size: 20px;
    padding: 6px;
    border: solid 1px rgb(139, 98, 81);
    border-radius: 50%;
} 

#search-blog {
    position: relative;
    width: 100%;
    margin-top: 12px;
}

.search-blogg{
    position: absolute;
    top: 25%;
    left: 3%;
}

#search-blog input{
    height: 28px;
    width: 100%;
    padding-left: 28px;
    padding-right: 9px;
    border: 1px solid rgb(223,223,223);
    font-size:13px;
}