
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #3e0707;
}

.form
{
    width: 900px;
    max-height: 200px;
    margin: 0 auto;
}

.header .heading {
    text-align: center;
    letter-spacing: 9px;
}

.container {
    display: flex;
    justify-content: center;
}

.container .left .title-left {
    text-align: center;
    letter-spacing: 4px;
}

.left-space
{
    width: 100%;
}

.left
{
    width: 20%;
}

.left .list-product li {
    padding: 10px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

.left .list-product li:hover
{
    color: #b32366;
}

.list-product li.active {
    color: #b32366;
}

.left .list-product
{
    list-style-type: none;
}

.left .left-space {
    width: 73%;
    margin-right: 12px;
}

.right
{
    width: 80%;
    margin-left: 10px;
}

.right .card
{
    width: 124px;
    height: 369px;
    display: inline-block;
}

.right img
{
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 7px;
}

.right .img-card
{
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 7px;
}

.right .card .card-reviews i {
    color: #f5a570;
}

.right .card-reviews {
    padding: 6px;
}

.status-review {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.right .card-info {
    margin-top : 4px;
    text-align: center;
}

.right .info-name {
    font-size: 16px;
    line-height: 30px;
}

.right .info-price
{
    display: block;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
}



