html {
    background-color: #2f353a !important;
}

hr {
    color: rgb(95, 95, 95);
    background-color: rgb(95, 95, 95);
    border-top: 2px solid rgb(95, 95, 95);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 16px 0;
}

a {
    color: #222;
}


/* header */

header {
    z-index: 10;
    width: 100%;
    padding: 20px 10px;
    background-color: #3a4149;
    border-bottom: 1px solid #23282c;
}

header h2 {
    display: block;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: bold;
    color: #fff;
}


/* =========== Menu ================= */

.sidebar {
    float: left;
    width: 170px;
}

.sidebar .nav-title {
    padding: 17px 16px;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
    color: #e4e7ea;
    text-align: center;
    text-transform: uppercase;
}

.sidebar .nav-item {
    position: relative;
    margin: 0;
    color: #73818f;
}

.sidebar .nav-item {
    display: block;
    padding: 16px;
    font-size: 1.8rem;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
    font-weight: 900;
}

.sidebar .nav-item.active,
.sidebar .nav-item.active i {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.sidebar .nav-item:hover:not(.active),
.sidebar .nav-item:hover:not(.active) i {
    background-color: #e5988a;
    color: var(--white-color);
}

.sidebar .nav-item i {
    display: inline-block;
    width: 17px;
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #73818f;
    text-align: center;
}


/* ==================== section ==================== */

.section {
    float: left;
    width: calc(100% - 175px);
}

.section > div {
    display: none;
}


/* HOME */

.home .canvasContainer {
    display: inline-block;
    width: 49%;
    margin: 50px 0;
}

.flexContain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Table */

.table-outline {
    width: 100%;
    border: 1px solid #23282c;
}


/* phần chứa header (th) */
.table-header {
    width: 100%;
}

/*chỉnh cho tên nằm về trái*/
.table-header th {
    color: #e4e7ea;
    background-color: #3e464d;
    border-color: #23282c;
}

.table-header th {
    cursor: pointer;
}

.table-header th i {
    /* Ẩn icon sort */  
    transform: scale(0);
    transition-duration: .2s;
}

.table-header th:hover i {
    transform: scale(1)
}


/*Chỉnh cho nội dung nằm giữa*/
.table-header th,
.table-header td {
    padding: 12px;
    font-size: 1.6rem;
    text-align: center;
    border-top: 1px solid #23282c;
    vertical-align: top;
    font-weight: 900;
}

.table-header tr td {
    margin-bottom: 40px;
}

.table-header td {
    color: #e4e7ea;
}

/*Chỉnh size ảnh*/
.table-content img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}


/* phần chứa nội dung  */
.table-content {
    min-height: 200px;
    max-height: 550px;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    font-size: 2rem;
}

.table-content table {
    width: 100%;
}

.table-content tr:nth-child(2n + 1) {
    background-color: #3e4144;
}

.table-content tr:nth-child(2n) {
    background-color: #2f353a;
}

.table-content tr:nth-child(2n + 1) td {
    border-left: 1px solid #2f353a;
}

.table-content tr:nth-child(2n) td {
    border-left: 1px solid #3e4144;
}

.table-content td {
    padding:  8px;
    position: relative;
    color: #e4e7ea;
    text-align: center;
    line-height: 24px;
}


/* Link chi tiet san pham */

.table-content td a {
    display: block;
    color: #e4e7ea;
}

.table-content td a:hover {
    text-decoration: underline;
}


/* Hành động */

.table-content td i {
    padding: 6px;
    cursor: pointer;
}

.table-content td i.fa-wrench:hover {
    color: #63c2de
}

.table-content td i.fa-trash:hover {
    color: #f86c6b
}

.table-content td i.fa-check:hover {
    color: #5ce457d8
}

.table-content td i.fa-remove:hover {
    color: #f86c6b
}


/*  phần footer table  */

.table-footer {
    background-color: #3e464d;
    padding: 12px;
    font-size: 1.4rem;
    vertical-align: top;
    border-top: 1px solid #23282c;
}

.table-footer button {
    padding: 10px 16px;
    border: 3px solid transparent;
    background-color: #cccece;
    outline: none;
}


/* Nút bấm ở footer */

.table-footer button {
    cursor: pointer;
    background-color: #23282c;
    color: #e4e7ea;
    transition-duration: .2s;
}

.table-footer button:hover {
    background-color: #7a879486;
    border-color: #73818f;
}


/* Overlay */
.overlay.product {
    transform: scale(0);
    transition: .2s ease;
    background-color: #020202d8;
    display: flex;
}

.overlayTable {
    margin: 50px auto;
    width: auto;
    background-color: #23282c;
}

.overlayTable td:first-child {
    text-align: right;
}

.overlayTable input {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.overlayTable input[type="file"] {
    background-color: transparent;
}

.close {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 4.8rem;
    width: 50px;
    height: 50px;
    line-height: 16px;
    text-align: center;
    color: #aaa;
    cursor: pointer;
    transition: .2s ease;
}

.close:hover {
    color: #fff;
    background-color: #f33;
    border-radius: 50%;
}

button, select, input {
    outline: none;
}

/* Hiện thông báo */
.notify__delete,
.notify {
    position: absolute;
    top: 6%;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    font-weight: 900;
    background-color: white;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    opacity: 0;
    transition: 0.3s ease-in;
}

.notify__delete {
    border-radius: unset;
}

.notify.success {
    color: #3eda3e;
}

.notify.error {
    color: #de1818;
}

.notify i {
    margin-right: 6px;
}

/* Hiện nút xóa sp */
.notify__delete {
    left: 50%;
    transform: translate(-50%, -170%);
    opacity: 0;
}

.notify__delete-text {
    font-size: 16px;
    line-height: 20px;
}

.notify__delete-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notify__delete-ok,
.notify__delete-cancel {
    padding: 16px;
    cursor: pointer;
}

.notify__delete-ok:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #3eda3e;
}

.notify__delete-cancel:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #de1818;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip i {
    font-size: 20px;
    cursor: pointer;
}
.margin-2px{
    margin-bottom: 5px;
}
.removeUser:hover{
    color: #de1818;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 21;
    bottom: -120%;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* ======================== Switch Slider (Togggle) ======================= */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ========= ScrollBar ============ */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}


/* Thanh % */

.progress {
    display: block;
    position: relative;
    height: 10px;
    width: 300px;
    background-color: #515b65;
    border-radius: 0.25em;
    overflow: hidden;
}

.progress:not(:last-child) {
    margin-bottom: 2px;
}

.progress-bar {
    position: absolute;
    height: 100%;
    left: 0;
}


/* background color class */

.bg-info {
    background-color: #63c2de;
}

.bg-danger {
    background-color: #f86c6b;
}

.bg-success {
    background-color: #4dbd74;
}

.bg-warning {
    background-color: #ffc107;
}