* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-slider {
    /* position: relative;
    top: 150px; */
    margin-top: 40px;
}

.container-slider #img-slider {
    max-width: 100%;
    height: 355px;
    width: 100%;
}

.container-slider .badge {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    margin-bottom: 55px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.container-slider .badge .badge-white
{
    color:#000!important;
    background-color:#fff!important
}

.container-slider .badge .badge-img
{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 9px;
}

.container-slider .badge .badge-img:hover
{
    background: #fff;
}

.container-slider .button-left
{
    position: absolute;
    top: 46%;
    left: 1%;
    font-size: 22px;
}

.container-slider .button-right
{
    position: absolute;
    top: 46%;
    right: 1%;
    font-size: 22px;
}

.container-slider .image-button
{
    border-radius: 50%;
    background: transparent;
    width: 56px;
    height: 56px;
    border: 1px solid #fff;
    color: #fff;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    appearance: none;
}

.container-slider #img-slider:hover .image-button
{
    appearance: auto;
}

.header
{
    max-width: 100%;
}

.search-heading
{
    display: flex;
    width: 172px;
    height: 29px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #fff;
    padding: 5px;
    position: relative;
}

.search-heading .search-input {
    padding: 1px;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.search-heading .search {
   width: 20px;
   height: 20px;
   position: relative;
   margin-right: 12px;
}

.search-heading .search-btn {
    position: absolute;
    top: 2px;
    left: 4px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #f5f2ef;
    align-items: center;
}

.slider-img {
    position: relative;
    max-width: 100%;
    max-height: 62px;
}

.slider-img img {
    width: 500px;
    height: 61px;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-img .img {
    height: 100px;
}

.warning-alert{
    display: inline-block;
    color: red;
    font-size: 16px;
}

#content {
    margin: 40px 1% 80px 1%;
}

#content .welcome {
    margin-bottom: 60px;
}

#content .welcome p{
    font-size: 22px;
    text-align: center;
}

#content .type {
    display: flex;
    
}

#content .type div {
    display: flex;
    justify-content: center;
    width: 33%;
}

.modal.open
{
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-height: 100%;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 10.5px;
    cursor: pointer;
}

.modal-close:hover
{
    background-color: red;
}

.modal-container .modal-header {
    height: 45px;
    background: green;
    text-align: center;
    line-height: 45px;
}

.modal-body
{
    height: 60%;
    padding: 16px;
}

.modal-body .container {
    display: flex;

}

.modal-body .modal-label {
    width: 20%;
    padding: 12px;
}

.modal-body .modal-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-weight: bold !important;
    position: relative;
}

.modal-body input[type="checkbox"],
.modal-body input[type="radio"]
{
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.modal-body input[type="date"]
{
    cursor: pointer;
}

.modal-footer {
    display: flex;
}

.modal-footer .modal-btn 
{
    width: 50%;
    padding: 16px;
    cursor: pointer;
    padding-bottom: 16px;
    border-style: solid;
}
.modal-login{
    max-height: 100%;
}
.modal-login-header {
    height: 45px;
    background: green;
    text-align: center;
    line-height: 45px;
    width: 100%;
}

.nextSign {
    text-align: right;
    padding-bottom: 20px;
    margin-right: 27px;
    font-size: 16px;
}

.nextSign span {
    color: blue;
    cursor: pointer; 
}


.modal-turn-back {
    position: absolute;
    padding-right: 12px;
    cursor: pointer;
}


.modal-turn-back i {
    border-radius: 50%;
    margin-left: 12px;
    font-size: 22px;
    line-height: 45px;
}

.modal-turn-back:hover {
    background: antiquewhite;
}

#modal-submit-login {
    width: 70%;
    color: white;
    background: rgb(82,22,12);
    padding: 16px;
    margin-left: 17%;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    opacity: 1;
    margin-bottom: 4px;
}

#modal-submit-login:hover
{
    opacity: .9;
}
.modal-password{
    position: relative;
   
}
.icon-password{
    right: 21px;
    line-height: 100%;
    padding: 12px;
    font-size: 22px;
    position: absolute;
    cursor: pointer;
}

.modal-login
{
    max-width: 100%;
}
