* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-slider {
    /* position: relative;
    top: 150px; */
    margin-top: 40px;
}

.container-slider #img-slider {
    max-width: 100%;
    height: 355px;
    width: 100%;
}

.container-slider .badge {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    margin-bottom: 55px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.container-slider .badge .badge-white
{
    color:#000!important;
    background-color:#fff!important
}

.container-slider .badge .badge-img
{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 9px;
}

.container-slider .badge .badge-img:hover
{
    background: #fff;
}

.container-slider .button-left
{
    position: absolute;
    top: 46%;
    left: 1%;
    font-size: 22px;
}

.container-slider .button-right
{
    position: absolute;
    top: 46%;
    right: 1%;
    font-size: 22px;
}

.container-slider .image-button
{
    border-radius: 50%;
    background: transparent;
    width: 56px;
    height: 56px;
    border: 1px solid #fff;
    color: #fff;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    appearance: none;
}

.container-slider #img-slider:hover .image-button
{
    appearance: auto;
}

.header
{
    max-width: 100%;
}

.search-heading
{
    display: flex;
    width: 172px;
    height: 29px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #fff;
    padding: 5px;
    position: relative;
}

.search-heading .search-input {
    padding: 1px;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.search-heading .search {
   width: 20px;
   height: 20px;
   position: relative;
   margin-right: 12px;
}

.search-heading .search-btn {
    position: absolute;
    top: 2px;
    left: 4px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #f5f2ef;
    align-items: center;
}

.slider-img {
    position: relative;
    max-width: 100%;
    max-height: 62px;
}

.slider-img img {
    width: 500px;
    height: 61px;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-img .img {
    height: 100px;
}

#content {
    margin: 40px 1% 80px 1%;
}

#content .welcome {
    margin-bottom: 60px;
}

#content .welcome p{
    font-size: 22px;
    text-align: center;
}

#content .type {
    display: flex;
    
}

#content .type div {
    display: flex;
    justify-content: center;
    width: 33%;
}