html {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #3e0707;
}

.form {
  width: 900px;
  max-height: 200px;
  margin: 0 auto;
}

.header .heading {
  text-align: center;
  letter-spacing: 9px;
}

.container {
  width: 1200px;
  display: grid;
  grid-template-columns: 200px auto;
}

.container .left .title-left {
  text-align: center;
  letter-spacing: 4px;
}

.left-space {
  width: 100%;
}

.left {
  width: 20%;
}

.left .list-product li {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

.left .list-product li:hover {
  color: #b32366;
}

.list-product li.active {
  color: #b32366;
}

.left .list-product {
  list-style-type: none;
}

.left .left-space {
  width: 73%;
  margin-right: 12px;
}

.right {
  width: 80%;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.right .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right img {
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 7px;
}

.right .img-card {
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 7px;
}

.right .card .card-reviews i {
  color: #f5a570;
}

.right .card-reviews {
  padding: 6px;
}

.status-review {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.right .card-info {
  margin-top: 16px;
  text-align: center;
}

.right .info-name {
  font-size: 18px;
  line-height: 30px;
}

.right .info-price {
  display: block;
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}
.right .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
