html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #3e0707;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.form {
  width: 900px;
  margin: 0 auto;
  display: block;
}

.header-search .heading {
  text-align: center;
  letter-spacing: 9px;
}

/* hr {
  width: 1200px;
} */

.form .container {
  width: 1200px;
  display: grid;
  grid-template-columns: 200px auto;
  margin: 32px 0;
}

.container .left .title-left {
  text-align: center;
  transition: letter-spacing 0.5s;
  letter-spacing: 4px;
}

.left-space {
  transition: width 1s;
  width: 100%;
}

.left {
  width: 100%;
}

.left .list-product li {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

.left .list-product li:hover {
  color: #b32366;
}

.list-product li.active {
  color: #b32366;
}

.left .list-product {
  list-style-type: none;
}

.left .left-space {
  width: 90%;
  margin-right: 12px;
}
.full-screen{
  width: 100%;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.right {
  width: 80%;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.right .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right img {
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 7px;
}

.right .img-card {
  max-width: 100%;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin-bottom: 7px;
  transition-property: max-height;
  transition-duration: 1s;
}

@keyframes moveFromBottomToMiddle {

  from {
    bottom: -10px;
  }

  to {
    bottom: 40%;
  }
}

@keyframes zoomOut {
  from {
    width: 0;
  }

  to {
    width: 105%
  }
}

@keyframes moveFromMiddleToBottom {
  from {
    bottom: 40%;
  }

  to {
    bottom: -10px;
  }
}

.right .card .card-reviews i {
  color: #f5a570;
}

.right .card-reviews {
  padding: 6px;
}

.status-review {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.right .card-infor {
  margin-top: 16px;
  text-align: center;
}

.right .infor-name {
  font-size: 18px;
  line-height: 30px;
}

.right .infor-price {
  display: block;
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}

.right .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: inline-block;
}

footer {
  display: block;
}

.right .card:hover .product_hover li {
  opacity: 1;
  top: 35px;
}

.right .card:hover .img-card {
  max-width: 150%;
  max-height: 150px;
  
}

.product_hover {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 30px;
  text-align: center;
  padding: 0;
}

.product_hover li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.product_hover li:nth-child(1) {
  -webkit-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

.product_hover li:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.15s;
  -o-transition: all 0.4s ease 0.15s;
  transition: all 0.4s ease 0.15s;
}

.product_hover li:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

.product_hover li:last-child {
  margin-right: 0;
}

.product_hover li:hover a {
  background: #ca1515;
}

.product_hover li:hover a span {
  color: #ffffff;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.icon_hover {
  color: white;
  position: absolute;
  top: 11%;
  left: 11%;
}

.product_hover li a {
  font-size: 18px;
  color: #111111;
  display: block;
  height: 23px;
  width: 23px;
  background: black;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}